<div class="header"><h1>OXXO</h1></div>

<div class="main">
  <div>
    <h2>Tienda: {{ stores?.nombre_tienda }}</h2>
    <p class="m-0">Ubicación: {{ stores?.ubicacion }}</p>

    <div class="store-cards">
      <p-card header="Ingresar producto">
        <div class="modal">
          <p-dropdown
            [style]="{ width: '100%' }"
            placeholder="Selecciona un producto"
            [options]="products"
            optionLabel="nombre"
            optionValue="id_producto"
            [(ngModel)]="productIncome.id_producto"
          />
          <input
            [style]="{ width: '100%' }"
            type="number"
            pInputText
            placeholder="Ingresa la cantidad"
            [(ngModel)]="productIncome.cantidad_ingreso"
          />
        </div>
        <div class="buttons-section">
          <p-button
            label="Ingresar"
            severity="success"
            (click)="sendProductIncomeData()"
          />
        </div>
      </p-card>
      <p-card header="Retirar producto">
        <div class="modal">
          <p-dropdown
            [style]="{ width: '100%' }"
            placeholder="Selecciona un producto"
            [options]="products"
            optionLabel="nombre"
            optionValue="id_producto"
            [(ngModel)]="productOut.id_producto"
          />
          <input
            [style]="{ width: '100%' }"
            type="number"
            pInputText
            placeholder="Ingresa la cantidad"
            [(ngModel)]="productOut.cantidad_salida"
          />
        </div>
        <div class="buttons-section">
          <p-button
            label="Retirar"
            severity="success"
            (click)="sendProductOutData()"
          />
        </div>
      </p-card>
    </div>
  </div>
</div>

<div class="footer"><p>OXXO</p></div>
<router-outlet />
